[Unit]
Description=Temporary Directory /tmp
DefaultDependencies=no
Before=local-fs.target

[Mount]
What=tmpfs
Where=/tmp
Type=tmpfs
Options=mode=1777,strictatime,nosuid,nodev,size=50%

[Install]
WantedBy=local-fs.target
